.azui {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
}
.azui *,
.azui *::before,
.azui *::after {
  box-sizing: border-box;
}
.azui input:focus {
  outline: none;
}

.azui.azui-inlineeditor-wrapper {
  position: relative;
  border: none;
  display: flex;
  align-items: center;
}
.azui.azui-inlineeditor-wrapper .azui-inlineedit {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.azui.azui-inlineeditor-wrapper .azui-inlineeditor {
  width: 100%;
  height: 100%;
}
.azui.azui-inlineeditor-wrapper .azui-inlineeditor input.azInlineEditorInput {
  margin: 0;
  width: 100%;
  height: 100%;
}
.azui.azui-inlineeditor-wrapper .azui-inlineeditor .dirtySign {
  position: absolute;
  border-style: inset;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 6px 0;
  border-color: transparent #d95244 transparent transparent;
  top: 0;
  right: 0;
  z-index: 1;
}
.azui.azui-inlineeditor-wrapper .azui-inlineeditor .numberButton {
  position: absolute;
  right: 0;
  width: 20px;
  height: 50%;
  display: grid;
  align-content: center;
  justify-content: center;
  background: #e8e8e8;
}
.azui.azui-inlineeditor-wrapper .azui-inlineeditor .numberButton.upButton {
  top: 1px;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d6d6;
}
.azui.azui-inlineeditor-wrapper .azui-inlineeditor .numberButton.upButton:hover {
  background-color: #cfcfcf;
}
.azui.azui-inlineeditor-wrapper .azui-inlineeditor .numberButton.upButton:active {
  background-color: #b5b5b5;
}
.azui.azui-inlineeditor-wrapper .azui-inlineeditor .numberButton.downButton {
  bottom: 1px;
  border-width: 1px;
  border-style: solid;
  border-top-color: white;
  border-left-color: #d6d6d6;
  border-right-color: #d6d6d6;
  border-bottom-color: #d6d6d6;
}
.azui.azui-inlineeditor-wrapper .azui-inlineeditor .numberButton.downButton:hover {
  background-color: #cfcfcf;
}
.azui.azui-inlineeditor-wrapper .azui-inlineeditor .numberButton.downButton:active {
  background-color: #b5b5b5;
}
.azui.azui-inlineeditor-wrapper .azui-inlineeditor .numberButton svg {
  width: 10px;
  height: 10px;
  fill: #4d4d4d;
}
