.azui {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
}
.azui *,
.azui *::before,
.azui *::after {
  box-sizing: border-box;
}

.azui.azui-pager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  background-color: #e8e8e8;
  border-top: 1px solid silver;
  padding: 0 10px;
  font-size: 12px;
}
.azui.azui-pager a.azPageIcon {
  position: relative;
  top: 2px;
  margin-right: 15px;
  cursor: pointer;
}
.azui.azui-pager a.azPageIcon > svg {
  width: 12px;
  height: 12px;
  fill: #666666;
}
.azui.azui-pager a.azPageIcon > svg:hover {
  fill: white;
}
.azui.azui-pager a.azPageIcon > svg:active {
  fill: #b5b5b5;
}
.azui.azui-pager input[type=number].pagerInput {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  margin-right: 5px;
  width: 40px;
  -moz-appearance: textfield;
}
.azui.azui-pager input[type=number].pagerInput::-webkit-outer-spin-button, .azui.azui-pager input[type=number].pagerInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.azui.azui-pager .azPageInfo {
  color: #666666;
  white-space: nowrap;
}
@media screen and (orientation: portrait) {
  .azui.azui-pager .azWideScreen {
    display: none;
  }
}
