.azui {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
}
.azui *,
.azui *::before,
.azui *::after {
  box-sizing: border-box;
}

.azui.azui-docker {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 2px;
}
.azui.azui-docker .azSortableItem {
  cursor: pointer;
  user-select: none;
  background-color: #e8e8e8;
  transition: 0.5s;
  transition-property: background-color;
  padding: 8px 0;
  white-space: nowrap;
}
@media (hover: hover) {
  .azui.azui-docker .azSortableItem:hover {
    background-color: #dedede;
  }
}
.azui.azui-docker .azSortableItem.dock-active {
  background: #c9c9c9;
}
@media (hover: hover) {
  .azui.azui-docker .azSortableItem.dock-active:hover {
    background-color: #c9c9c9;
  }
}
.azui.azui-docker .azSortableItem span.icon {
  padding: 8px;
}
.azui.azui-docker .azSortableItem span.icon svg {
  width: 12px;
  height: 12px;
  position: relative;
  top: 2px;
}
