@media (hover: hover) {
  .azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel:not(.disabled):hover {
    background-color: #dedede;
  }
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel:not(.disabled).active {
  background-color: #c9c9c9;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.disabled.azTabLabel * {
  color: gray;
  fill: gray;
  cursor: not-allowed;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.azui {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
}

.azui *,
.azui *::before,
.azui *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.azui.azui-tabs {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.azui.azui-tabs > .azTabHeader {
  border-bottom: 1px solid #cfcfcf;
  background-color: whitesmoke;
  font-size: 13px;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel {
  padding: 6px;
  max-width: 150px;
  width: 150px;
  border-right: solid 1px #d6d6d6;
  border-left: solid 1px white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  background-color: #e8e8e8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr 30px;
      grid-template-columns: 30px 1fr 30px;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel:first-of-type {
  border-left: none;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel:last-of-type {
  border-right: none;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel > div {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel > div.icon {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel > div.icon svg {
  height: 12px;
  width: 12px;
  display: inline-block;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel > div.title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel > div.title span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel > div.close {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel > div.close svg {
  height: 8px;
  width: 8px;
  display: inline-block;
}

.azui.azui-tabs > .azTabHeader > div.azTabLabels > div.azTabLabel > div.close:hover {
  fill: #d95244;
}

.azui.azui-tabs > .azTabContent {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
