@media (hover: hover) {
  .azui.azui-datatable > div.thead > div.th:not(.disabled):hover {
    background-color: #dedede;
  }
}

.azui.azui-datatable > div.thead > div.th:not(.disabled).active {
  background-color: #c9c9c9;
}

.azui.azui-datatable > div.thead > div.disabled.th * {
  color: gray;
  fill: gray;
  cursor: not-allowed;
}

.azui.azui-datatable > div.thead > div.th * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.azui {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
}

.azui *,
.azui *::before,
.azui *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.azui.azui-datatable {
  font-size: 12px;
}

.azui.azui-datatable > div.tbody {
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  white-space: nowrap;
  box-sizing: border-box;
  outline: none;
}

.azui.azui-datatable > div.tbody > div.tr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.azui.azui-datatable > div.tbody > div.tr:nth-child(even) {
  background-color: #e8e8e8;
}

.azui.azui-datatable > div.tbody > div.tr:hover {
  background-color: #cfcfcf;
}

.azui.azui-datatable > div.tbody > div.tr:active {
  background-color: #b5b5b5;
}

.azui.azui-datatable > div.tbody > div.tr.selected {
  background-color: #498dd5;
  color: #e8e8e8;
}

.azui.azui-datatable > div.tbody > div.tr > div.td {
  width: 100px;
  height: 100%;
  position: relative;
}

.azui.azui-datatable > div.tbody > div.tr > div.td .azui-inlineeditor-wrapper {
  width: 100%;
  height: 100%;
}

.azui.azui-datatable > div.tbody > div.tr > div.td .azui-inlineeditor-wrapper .azui-inlineedit {
  padding-left: 10px;
}

.azui.azui-datatable > div.tbody > div.tr > div.td .azui-inlineeditor-wrapper .azui-inlineeditor > input {
  padding-left: 9px;
}

.azui.azui-datatable > div.thead {
  height: 30px;
  background-color: #e8e8e8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #cfcfcf;
  white-space: nowrap;
}

.azui.azui-datatable > div.thead > div.th {
  height: 100%;
  display: inline-block;
  background-color: #e8e8e8;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 0 0 10px;
  cursor: default;
  border-right: solid 1px #d6d6d6;
  border-left: solid 1px white;
  width: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.azui.azui-datatable > div.thead > div.th.azSortableItem {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.azui.azui-datatable > div.thead > div.th::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.azui.azui-datatable > div.thead > div.th:first-of-type {
  border-left: none;
}

.azui.azui-datatable > div.thead > div.th:last-of-type {
  border-right: none;
}

.azui.azui-datatable > div.thead > div.th.azSortableDropBefore {
  border-left: 2px solid #a4d666;
}

.azui.azui-datatable > div.thead > div.th.azSortableDropAfter {
  border-right: 2px solid #a4d666;
}

.azui.azui-datatable > div.thead > div.th.azSortableSelected {
  opacity: 0.5;
}

.azui.azui-datatable > div.thead > div.th:not(.disabled).azSortableDeny {
  background-color: #d95244;
}

.azui.azui-datatable > div.thead > div.th:not(.disabled).azSortableAllow {
  background-color: #a4d666;
}

.azui.azui-datatable > div.thead > div.th .azThSort {
  display: none;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  fill: #666666;
}

.azui.azui-datatable > div.tfoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  background-color: #e8e8e8;
  border-top: 1px solid silver;
  padding: 0 10px;
}

.azui.azui-datatable > div.tfoot a.azPageIcon {
  position: relative;
  top: 2px;
  margin-right: 15px;
  cursor: pointer;
}

.azui.azui-datatable > div.tfoot a.azPageIcon > svg {
  width: 12px;
  height: 12px;
  fill: #666666;
}

.azui.azui-datatable > div.tfoot a.azPageIcon > svg:hover {
  fill: white;
}

.azui.azui-datatable > div.tfoot a.azPageIcon > svg:active {
  fill: #b5b5b5;
}

.azui.azui-datatable > div.tfoot input[type="number"].pageNumber {
  margin-right: 15px;
  width: 50px;
  -moz-appearance: textfield;
}

.azui.azui-datatable > div.tfoot input[type="number"].pageNumber::-webkit-outer-spin-button, .azui.azui-datatable > div.tfoot input[type="number"].pageNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.azui.azui-datatable > div.tfoot div.azPageInfo {
  color: #666666;
}
