.azui {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
}
.azui *,
.azui *::before,
.azui *::after {
  box-sizing: border-box;
}

.azui.azui-resizable > .handle {
  background-color: #e8e8e8;
  position: absolute !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.azui.azui-resizable > .handle.active {
  background-color: #d4d4d4;
}
.azui.azui-resizable > .handle > div.collapseButton {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.azui.azui-resizable > .handle > div.collapseButton.active svg {
  fill: #a4d666 !important;
}
.azui.azui-resizable > .handle > div.collapseButton.collapseButtonH {
  width: 30px;
}
.azui.azui-resizable > .handle > div.collapseButton.collapseButtonH > span.collapseIcon {
  height: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.azui.azui-resizable > .handle > div.collapseButton.collapseButtonH > span.collapseIcon > svg {
  fill: #e8e8e8;
  width: 8px;
  height: 4px;
  display: block;
}
.azui.azui-resizable > .handle > div.collapseButton.collapseButtonV {
  height: 30px;
}
.azui.azui-resizable > .handle > div.collapseButton.collapseButtonV > span.collapseIcon {
  width: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.azui.azui-resizable > .handle > div.collapseButton.collapseButtonV > span.collapseIcon > svg {
  fill: #e8e8e8;
  width: 4px;
  height: 8px;
  display: block;
}
